@model dynamic

@{
    ViewBag.Title = "Камера";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 50px;">
    <div class="col-lg-12 col-md-12 text-center">
        <img src="@("http://view@10.14.0.250/video1.mjpg")">
        <div class="text-muted">Для просмотра веб камеры используйте FireFox или Internet Explorer.</div>
    </div>
</div>