<div class="modal-header">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true" ng-disabled="state.isSavingChanges">&times;</button>
    <h4 class="modal-title">Укажите максимальное количество заказов на данное блюдо</h4>
</div>
<div class="modal-body">
    <form name="addCourseToMenuForm" novalidate>
        <input type="number" name="maxOrders" ng-model="course.maxOrders" min="1" required placeholder="Максимальное количество заказов" class="form-control" ng-disabled="state.isSavingChanges"
               ng-class="{ 'input-validation-error': addCourseToMenuForm.maxOrders.$invalid && addCourseToMenuForm.maxOrders.$dirty }" />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeDialog()" ng-disabled="state.isSavingChanges">Отмена</button>
    <button type="button" class="btn btn-success ladda-button" data-style="zoom-in" ng-click="saveChanges()" ng-disabled="addCourseToMenuForm.$invalid" is-loading="state.isSavingChanges" data-spinner-size="24">
        Добавить в меню
    </button>   
</div>