<div class="row">
    <div class="col-md-6 col-lg-6">
        <lt:admin-menu courses="menuCourses" date="date"></lt:admin-menu>
    </div>

    <div class="col-md-6 col-lg-6">
        <lt:admin-courses courses="availableCourses" on-add-course-to-menu="addCourseToMenu(course)"></lt:admin-courses>
    </div>
</div>