<body style="margin: 0; padding: 0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" width="600px">
                <!-- HEADER STARTS -->
                <table width="600px" cellspacing="0" cellpadding="0" border="0" style="width: 600px;" >
                    <tr>
                        <td align="left"></td>
                    </tr>
                </table>
                <!-- HEADER END -->
                <!-- CONTENT STARTS -->
                <table width="600px" cellspacing="0" cellpadding="0" border="0" style="padding-top: 20px; width: 600px;">
                    <tr>
                        <td align="justify" valign="top">
                            <p style="font-family: Arial, sans-serif; font-size: 14px; color: rgb(26, 26, 26);">
                                Вы или кто-то другой запросили новый пароль для входа в систему.
                                <br>Новый пароль: <b>@Model.NewPassword</b>
                                <br>Окончательная смена пароля произойдет только после первого использования. До этого момента действует старый пароль.
                                <br><br>Если вы не запрашивали сброс пароля, то просто проигнорируйте данное письмо.
                            </p>
                        </td>
                    </tr>
                </table>
                <!-- CONTENT END -->
                <!-- FOOTER STARTS -->
                <table width="600" cellspacing="0" cellpadding="0" border="0" style="padding-top: 50px; width: 600px;">
                    <tr>
                        <td align="justify"></td>
                    </tr>
                </table>
                <!-- FOOTER END -->
            </td>
        </tr>
    </table>
</body>