<div class="modal-header">
    <h3 class="modal-title">Вы действительно зарегистрировать карточку?</h3>
</div>
<div class="modal-body">
    <h4>
        Карточка будет зарегистрирована за пользователем <b>{{data.user.name}}</b>.    
    </h4>    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default" ng-click="closeDialog()">Отмена</button>
    <button type="button" class="btn btn-lg btn-danger" ng-click="confirm()">Зарегистрировать</button>
</div>