<div class="modal-header">
    <h3 class="modal-title">Вы действительно хотите удалить заказ?</h3>
</div>
<div class="modal-body">
    <h4>
        Заказ пользователя <b>{{data.user.name}}</b> будет удален.    
    </h4>    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default" ng-click="closeDialog()">Отмена</button>
    <button type="button" class="btn btn-lg btn-danger" ng-click="confirm()">Удалить</button>
</div>