<div class="modal-header">
    <h3 class="modal-title">Заказ отсутствует</h3>
</div>
<div class="modal-body">
    <h4>
        У пользователя {{data.user.name}} нет заказов на сегодня.
    </h4>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default" ng-click="closeDialog()">Закрыть</button>
</div>