<td>
    {{order.quantity}} x {{order.course.name}} ({{(order.quantity * order.course.price) | currency}})
</td>
<td>
    <div class="dropdown" ng-hide="isFreezed || order.box !== 0 || !isBoxingAllowed">
        <button data-toggle="dropdown" class="btn btn-danger btn-xs ladda-button" data-style="zoom-in" data-size="xs" is-loading="state.inMovingToBox" ng-disabled="state.isRemoving">
            В бокc
        </button>

        <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
            <li ng-repeat="targetBox in boxes" ng-show="targetBox.index > 0 && targetBox.index !== order.box">
                <a href="javascript:void(0)" ng-click="moveOrderToBox(order, targetBox.index)">Бокс #{{targetBox.index}}</a>
            </li>
            <li>
                <a href="javascript:void(0)" ng-click="moveOrderToNewBox(order)">Новый бокс</a>
            </li>
        </ul>
    </div>
</td>
<td>
    <button class="btn btn-link ladda-button" data-style="zoom-in" data-spinner-color="#000" ng-hide="isFreezed" is-loading="state.isRemoving" ng-click="removeOrder(order)" ng-disabled="state.inMovingToBox">
        <span class="glyphicon glyphicon-remove-circle text-muted"></span>
    </button>
</td>