<div class="user-orders-page">
    <h3 class="page-title">Мои заказы</h3>
    
    <lt:user-orders-days active-day="activeDay"
                         days-orders="daysOrders"
                         on-require-previous-days-orders="requirePreviousDaysOrders(date)"
                         on-require-next-days-orders="requirePreviousDaysOrders(date)">
    </lt:user-orders-days>
</div>