@model Dinner.Models.ResetPasswordModel
@{
    ViewBag.Title = "Восстановление пароля";
}

<div class="row content">
    <div class="col-md-12 col-lg-12 full-height">
        <div class="row header-title">
            <div class="col-md-12 col-lg-12 text-center">
                <h1>Пароль отправлен</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-1"></div>
            <div class="col-lg-4 col-md-4 col-xs-10 text-center">
                Письмо с новым паролем было отправлено на почту
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}