<div class="row">
    <div class="col-md-8 col-lg-8">
        <button ng-click="addCourseToMenu(course)" type="button" class="btn btn-success btn-xs" ng-disabled="state.isRemoving">
            <i class="glyphicon glyphicon-plus-sign"></i>
            В меню
        </button>
        <span>
            {{course.name}} - {{course.price | currency}}
        </span>
    </div>
    <div class="col-md-4 col-lg-4 text-right">
        <button ng-click="editCourse(course)" type="button" class="btn btn-info btn-xs" ng-disabled="state.isRemoving">Изменить</button>
        <button ng-click="removeCourse(course)" type="button" class="btn btn-danger btn-xs ladda-button"
                data-style="zoom-in"
                data-spinner-size="16"
                is-loading="state.isRemoving">
            Удалить
        </button>
    </div>
</div>